<div id="starshine">
  <div class="template shine large first"></div>
  <div class="template shine large second"></div>
  <div class="template shine large third"></div>
  <div class="template shine large fourth"></div>
  <div class="template shine large fifth"></div>
  <div class="template shine large sixth"></div>
  <div class="template shine large seventh"></div>
  <div class="template shine large eighth"></div>
  <div class="template shine large nineth"></div>
  <div class="template shine large tenth"></div>
  <div class="template shine large eleventh"></div>
</div>
