#onewhite {
  position: absolute;
  transform: translate(20%, -606%);

  @include for-size(tablet) {
    transform: translate(20%, -400%);
  }
  @include for-size(desktop) {
    transform: translate(20%, -886%);
  }
}

#twowhite {
  position: absolute;
  transform: translate(100%, -330%);

  @include for-size(tablet) {
    transform: translate(100%, -330%);
  }
  @include for-size(desktop) {
    transform: translate(150%, -840%);
  }
}

#threewhite {
  @include for-size(mobile) {
    position: absolute;
    transform: translate(155%, -421%);
  }

  @include for-size(tablet) {
    transform: translate(70%, -522%);
  }
  @include for-size(desktop) {
    transform: translate(220%, -790%);
  }
}

#oneph {
  position: absolute;
  transform: translate(110%, -570%);

  @include for-size(tablet) {
    transform: translate(100%, -510%);
  }
  @include for-size(desktop) {
    transform: translate(240%, -667%);
  }
}

#twoph {
  position: absolute;
  transform: translate(110%, -570%);

  @include for-size(tablet) {
    transform: translate(53%, -342%);
  }
  @include for-size(desktop) {
    transform: translate(140%, -640%);
  }
}

#threeph {
  position: absolute;
  transform: translate(10%, -370%);

  @include for-size(tablet) {
    transform: translate(110%, -670%);
  }
  @include for-size(desktop) {
    transform: translate(40%, -630%);
  }
}

#oneorange {
  position: absolute;
  transform: translate(60%, -410%);

  @include for-size(tablet) {
    transform: translate(15%, -510%);
  }
  @include for-size(desktop) {
    transform: translate(15%, -510%);
  }
}

#twoorange {
  position: absolute;
  transform: translate(115%, -490%);

  @include for-size(tablet) {
    transform: translate(115%, -490%);
  }
  @include for-size(desktop) {
    transform: translate(115%, -490%);
  }
}

#threeorange {
  position: absolute;
  transform: translate(115%, -240%);

  @include for-size(tablet) {
    transform: translate(115%, -240%);
  }
  @include for-size(desktop) {
    transform: translate(215%, -472%);
  }
}

#onegreen {
  position: absolute;
  transform: translate(5%, -290%);

  @include for-size(tablet) {
    transform: translate(5%, -290%);
  }
  @include for-size(desktop) {
    transform: translate(-6%, -418%);
  }
}

#twogreen {
  position: absolute;
  transform: translate(115%, -290%);

  @include for-size(tablet) {
    transform: translate(115%, -290%);
  }
  @include for-size(desktop) {
    transform: translate(200%, -389%);
  }
}

#oneyellow {
  position: absolute;
  transform: translate(60%, -220%);

  @include for-size(tablet) {
    transform: translate(60%, -220%);
  }
  @include for-size(desktop) {
    transform: translate(100%, -351%);
  }
}

#twoyellow {
  position: absolute;
  transform: translate(0%, -321%);
}

#onered {
  position: absolute;
  transform: translate(30%, -530%);

  @include for-size(tablet) {
    transform: translate(30%, -190%);
  }
  @include for-size(desktop) {
    transform: translate(25%, -230%);
  }
}

#twored {
  position: absolute;
  transform: translate(60%, -547%);

  @include for-size(tablet) {
    transform: translate(60%, -180%);
  }
  @include for-size(desktop) {
    transform: translate(120%, -250%);
  }
}

#threered {
  position: absolute;
  transform: translate(120%, -520%);

  @include for-size(tablet) {
    transform: translate(10%, -170%);
  }
  @include for-size(desktop) {
    transform: translate(220%, -300%);
  }
}

.group {
  -webkit-transform: translate(42.5px, 42.5px);
  -moz-transform: translate(42.5px, 42.5px);
  transform: translate(42.5px, 42.5px);
}
path {
  -webkit-transform: translate(-42.5px, -42.5px);
  -moz-transform: translate(-42.5px, -42.5px);
  transform: translate(-42.5px, -42.5px);
}
.large {
  -webkit-animation: large 2.5s infinite;
  -moz-animation: large 2.5s infinite;
}
.large-2 {
  -webkit-animation: large-2 2.5s infinite;
  -moz-animation: large-2 2.5s infinite;
}
#two {
  path {
    -webkit-transform: translate(-42.5px, -42.5px);
    -moz-transform: translate(-42.5px, -42.5px);
    transform: translate(-42.5px, -42.5px);
  }
  .large {
    -webkit-animation: large 2.5s infinite 0.81s;
    /* -moz-animation: large 2.5s infinite 1s; */
  }
  .large-2 {
    -webkit-animation: large-2 2.5s infinite 0.81s;
    /* -moz-animation: large-2 2.5s infinite 1s; */
  }
  .small {
    -webkit-animation: small 2.5s infinite 0.81s;
    /* -moz-animation: small 2.5s infinite 1s; */
  }
}
.small {
  -webkit-animation: small 2.5s infinite;
  -moz-animation: small 2.5s infinite;
}
@-webkit-keyframes large {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
  }
}
@-moz-keyframes large {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg) scale(1.5);
  }
}
@-webkit-keyframes large-2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(405deg) scale(1.1);
    transform: rotate(405deg) scale(1.1);
  }
}
@-moz-keyframes large-2 {
  0% {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(405deg) scale(1.1);
  }
}
@-webkit-keyframes small {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-360deg) scale(1);
    transform: rotate(-360deg) scale(1.5);
  }
}
@-moz-keyframes small {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) scale(1.5);
  }
}
