.form-field {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  max-width: 1600px;
  height: auto;
  padding: 23px;
  z-index: 10;

  &__title {
    font-family: $second-font;
    text-transform: uppercase;
    color: $accent-color;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 32px;
    }
  }
}

.contacts-container {
  margin-bottom: 25px;
}

.select-form {

  text-align: center;
  align-items: center;
  justify-content: center;
}

.select-text {
  display: block;
  color: $primary-text-color;
  font-family: $second-font;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px){
    font-size: 18px;
  }

  @media screen and (min-width: 1200px){
    font-size: 20px;
  }
}

.select-ice {
  width: 100%;
  font-family: $main-font;
  font-size: 16px;

  @media screen and (min-width: 320px) {
    height: 30px;
  }

  @media screen and (min-width: 768px) {
    height: 40px;
  }
}

.pay-text {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $primary-text-color;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.pay-card {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 320px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.card-svg {
  max-width: 70px;
  max-height: 35px;

  @media screen and (min-width: 320px) {
    max-width: 60px;
    max-height: 30px;
  }
}

.cards {
  padding-left: 30px;
  position: relative;

  @media screen and (max-width: 320px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 320px) {
    padding-left: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cards:not(:last-child) {
    margin-right: 20px;
  }
}

.select-box {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 50px;

  @media screen and (min-width: 320px) {
    left: 0;
    top: 6px;
  }

  @media screen and (min-width: 768px) {
    top: 4px;
    width: 20px;
    height: 20px;
  }
}

.form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  padding: 5px 10px;
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 700;
  min-width: 209px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-btn {
    font-size: 22px;
    padding: 8px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .form-btn {
    font-size: 22px;
    padding: 10px 40px;
  }
}

.form-btn:disabled {
  color: grey;
  background-color: #fff;
}

.form-text {
  height: 40px;
  width: 100%;
  margin-top: 0px;
  display: block;
  background-color: $primary-white-color;
  border: 2px solid $primary-accent-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: $primary-text-color;
  line-height: 1.36;
  outline: none;

  @media screen and (min-width: 768px) {
    height: 50px;
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    display: block;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.form-text::placeholder {
  font-family: $second-font;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.form-text:focus {
  border: 2px solid $accent-color;
}

.form-text:not(:placeholder-shown):focus:valid {
  color: green;
  border-color: green;
}

.form-text:not(:placeholder-shown):invalid {
  color: red;
  border-color: red;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-font;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  &:hover {
    cursor: pointer;
  }

  &__input {
    appearance: none;
    position: absolute;

    &:checked + .checkbox__icon {
      border: 1px solid $primary-text-color;
      background-image: url('../images/ice-cream-colored.svg');
    }
  }

  &__icon {
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    margin-right: 10px;
  
    border: 1px solid $secondary-text-color;
    border-radius: 4px;
    background-color: transparent;
    background-image: url('../images/ice-cream.svg');
  } 

  &__link {
    color: $accent-color;
    text-decoration: none;
  
    &:hover,
    &:focus {
      color: green;
    }
  }
}

